body {
    background-color: #151F2B;
    color: white;
  }
  
  .modal-content {
    background-color: #1E2733;
    border: none;
  }
  
  .modal-header .btn-close {
    filter: invert(1);
  }
  
  .btn-primary {
    background-color: #FE8A00;
    border-color: #FE8A00;
    color: #1E2733;
  }
  
  .btn-primary:hover {
    background-color: #FF9F26;
    border-color: #FF9F26;
  }
  
  h1, h2, h3, h4, h5, h6, p, input, button {
    color: white;
  }
  
  input.form-control {
    border: 1px solid #FE8A00;
  }
  
  input.form-control:focus {
    border-color: #FF9F26;
    box-shadow: 0 0 0 0.2rem rgba(254, 138, 0, 0.25);
  }
  